h1 {
  text-align: center;
}
/*.full-container { used with flex but here I used mat-grid*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*}*/
mat-grid-tile {
  background: lightblue;
}
mat-card {
  border: solid 1px chocolate;
}

mat-card-header {
  text-align: center;
}

mat-card-footer {
  text-align: center;
}
