<h1>Éditer un Moniteur</h1>
<form class="form-container"  [formGroup]="editMoniteurFormGroup" (ngSubmit)="handleEditMoniteur()">

  <mat-form-field>
    <input matInput placeholder="Prénom" name="prenom" formControlName="prenom" required>
    <mat-error *ngIf="editMoniteurFormGroup.get('prenom')?.hasError('required')">{{err_message_required}}</mat-error>
    <mat-error *ngIf="editMoniteurFormGroup.get('prenom')?.hasError('pattern')">{{err_message_name_pattern}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nom" name="nom" formControlName="nom" required>
    <mat-error *ngIf="editMoniteurFormGroup.get('nom')?.hasError('required')">{{err_message_required}}</mat-error>
    <mat-error *ngIf="editMoniteurFormGroup.get('nom')?.hasError('pattern')">{{err_message_name_pattern}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" placeholder="Email" type="email" name="email" formControlName="email" required>
    <mat-error *ngIf="editMoniteurFormGroup.get('email')?.hasError">{{err_message_email_pattern}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Téléphone" name="telephone" formControlName="telephone" required>
    <mat-error *ngIf="editMoniteurFormGroup.get('telephone')?.hasError">{{err_message_phoneNumber_pattern}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Qualification obtenue</mat-label>
    <mat-select formControlName="qualification">
      <mat-option value="AUCUN">Aucun</mat-option>
      <mat-option value="INITIATEUR">Animateur </mat-option>
      <mat-option value="EDUCATEUR">Educateur</mat-option>
      <mat-option value="ENTRAINEUR">Entraineur</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="actif">Actif</mat-checkbox>

  <button mat-raised-button color="primary" type="submit" [disabled]="editMoniteurFormGroup.invalid">Ajouter</button>
</form>
