<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [fixedInViewport]="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <mat-icon color="primary" aria-hidden="true">sports_tennis</mat-icon>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/eleves">
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>Eleves</span>
      </a>
      <a mat-list-item routerLink="/moniteurs">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>Moniteurs</span>
      </a>
      <a mat-list-item routerLink="/formulescours">
        <mat-icon matListItemIcon>info</mat-icon>
        <span matListItemTitle>Formules</span>
      </a>
      <a mat-list-item routerLink="/inscriptionsformule">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Inscription</span>
      </a>
      <a mat-list-item routerLink="/groupescours">
        <mat-icon matListItemIcon>groups</mat-icon>
        <span matListItemTitle>GroupeCours</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> Tennis Management System </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
